---
layout: default
---

<!--Language switch-->

{%- assign clean_url = page.url | replace:'index.html', '/' | replace:'index.html', '' -%}
{%- if clean_url == '' -%}
  {%- assign clean_url = '/' -%}
{%- endif -%}

<div class="lang-div d-flex flex-column" style="margin-bottom: 1rem;">
  {%- for lang in site.languages -%}
    {%- if lang == site.default_lang -%}
      {%- assign target = site.baseurl | append: clean_url -%}
    {%- else -%}
      {%- assign target = site.baseurl | append: '/' | append: lang | append: clean_url -%}
    {%- endif -%}
    {%- assign target = target | replace: '//','/' -%}

    <p class="lang-name-box">
      <a class="lang-name"
         {%- if lang == site.active_lang -%} style="font-weight: bold;" {%- endif -%}
         {% static_href %}href="{{ target }}"{% endstatic_href %}>
         {{ site.data.locales[lang].tabs.lang_name }}
      </a>
    </p>
  {%- endfor -%}
</div>

<!-- Page content -->
<div class="page-content">
  <div class="wrapper">
    {{ content }}
  </div>
</div>